.accountNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.accountLinks {
  border: solid black;
  border-width: thin;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  background-color: #a4d4ff;
  padding: 5px;
}

.accountTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 32px;
}
.instructions {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 18px;
}
.newUserSetup {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px 10px;
  box-shadow: 10px 10px 25px 15px grey;
  background-color: #a4d4ff;
}
.firstName {
  margin: 10px 50px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  color: black;
}
.lastName {
  margin: 10px 50px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}

.emailAddress {
  margin: 10px 50px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}
.password {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.userPassword {
  border-radius: 5px;
  height: 25px;
  width: 60%;
  border-style: solid;
  border-width: thin;
  text-align: center;
  flex-grow: 1;
}
.showPassword {
  flex-grow: 2;
  margin: 0 20px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  width: 50px;
}
.newUser {
  height: 25px;
  border-radius: 5px;
  background-color: white;
  margin: 10px 50px;
}
.newUser:hover {
  background-color: orange;
}
.termsConditions {
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .newUserSetup {
    margin: auto;
    padding: 15px;
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px 25px 15px grey;
  }
  .firstName {
    display: block;
    box-sizing: border-box;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
  .lastName {
    display: block;
    box-sizing: border-box;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .emailAddress {
    display: block;
    box-sizing: border-box;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
  .password {
    display: flex;
    flex-direction: row;
  }
  .userPassword {
    box-sizing: border-box;
    width: 200px;
    position: relative;
    left: 0px;
  }
  .showPassword {
    margin-left: 10px;
    padding: 0 15px;
  }
  .newUser {
    box-sizing: border-box;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 900px) {
  .newUserSetup {
    margin-left: auto;
    padding: 15px;
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px 25px 15px grey;
  }
  .firstName {
    display: block;
    box-sizing: border-box;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .lastName {
    display: block;
    box-sizing: border-box;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .email {
    display: block;
    box-sizing: border-box;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .emailAddress {
    width: 400px;
  }
  .password {
    display: flex;
    flex-direction: row;
  }
  .userPassword {
    box-sizing: border-box;
    width: 280px;
    position: relative;
    left: 0px;
  }
  .showPassword {
    padding: 0 10px;
  }
  .newUser {
    box-sizing: border-box;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}
