.NavigationContent {
  border: solid black;
}
.main {
  display: flex;
}
.Login {
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  position: absolute;
  right: 8px;
  cursor: pointer;
  color: white;
  background-color: #05386b;
  box-shadow: 2px 5px 9px #379683;
  text-decoration: none;
}
.NewAccount {
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: #05386b;
  box-shadow: 2px 5px 9px #379683;
  text-decoration: none;
}
