.accountLinks {
  border: solid black;
  border-width: thin;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  background-color: #a4d4ff;
  padding: 5px;
}

.Sign-In {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 32px;
}

.NewUserSetup {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
.EmailTag {
  font-size: 32px;
  font-weight: 400;
}
.PasswordTag {
  font-size: 32px;
  font-weight: 400;
}

.email {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-size: 16px;
}

.PasswordEntry {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-size: 16px;
}

.VerifyAccount {
  border-radius: 5px;
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-size: 16px;
  border-style: solid;
  border-width: thin;
  box-shadow: 20px 20px 10px grey;
}
.VerifyAccount:hover {
  background-color: gold;
}
@media screen and (min-width: 600px) {
  .email {
    margin: auto;
  }
  .PasswordEntry {
    margin: auto;
  }

  .VerifyAccount {
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 20px 20px 10px grey;
  }
}
